# Dependencias
node_modules/

# Construcción y salida
dist/
build/
*.tsbuildinfo

# Logs
*.log
dev.log
dev.err.log

# .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
Backend/Publish/

# Perfiles de publicación y configuración local
Properties/PublishProfiles/
*.pubxml
*.pubxml.user
Properties/launchSettings.json

# Sistema
.DS_Store
Thumbs.db