# Dependencias
node_modules/

# Construcción y salida
dist/
build/
*.tsbuildinfo

# Logs
*.log
dev.log
dev.err.log

# .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
Backend/Publish/



# Sistema
.DS_Store
Thumbs.db